.header {
	margin-bottom: 30px;
	&__logo {
		display: inline-block;
		height: 50px;
	}

	&__ctas {
		float: right;
	}

	&__menu {
		margin: 10px 0 0 0;
		padding: 0;

		li {
			background-color: #666;
			display: inline-block;
			margin-right: 1px;

			&:first-child {
				border-radius: 4px 0 0 4px;
			}
			&:last-child {
				border-radius: 0 4px 4px 0;
			}
		}

		a {
			color: #fff;
			display: inline-block;
			padding: 10px;
			text-decoration: none;
			width: 124px;
		}
	}
}