<div class="row">
	<div class="col-sm-9">
		<h1>Register for your account</h1>

		<div class="panel panel--secondary">
			<h2 class="panel__heading">Please enter your details below. These must match the exact details you provided to us when you took out your policy, including capital letters and spaces.</h2>
			<div class="panel panel--primary">
				My form
				<a href="#" class="btn btn--alt">Back</a>
				<a href="#" class="btn">Continue</a>
			</div>

		</div>
	</div>
	<div class="col-sm-3">
		<div class="panel">
			<h2 class="panel__heading">Help, I'm stuck</h2>
		</div>

		<h2>Your password</h2>
		<p>To make your password as strong as possible, it must be between 8 and 20 characters long and contain at least one of each of the following:</p>
		<ul>
			<li>a number</li>
			<li>a capital letter </li>
			<li>a lowercase letter</li>
			<li>a special character (e.g. !, ?, %, £, *, &)</li>
		</ul>

		<h2>Unsure of your email address?</h2>
		
		<p>You need to enter the email address you give us when you set up your policy.</p>
		
		<p>If you've changed this since, please enter the most recent email address you've given us. </p>
		
		<p>If you’ve forgotten your email address, please call us on <a href="tel:03300240123">03300 240 123</a>.</p>

	</div>	
</div>	